body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

h1 {
    text-align: center;
}

.board {
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
}

.mark {
    background-color: white;
    font-size: 7rem;
}

.restart-container {
    text-align: center;
    padding-top: 2rem;
}

.restart {
    padding: 1rem;
    font-size: 1rem;
    width: 200px;
}

body > div:nth-child(1) {
    display: flex;
    height: 300px;
    text-align: left;
    align-self: center;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
}

label,
input {
    font-size: 1.5rem;
}